.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 15px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 15px;
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 15px;
}
