.title-banner {
	color: $white;
	text-align: center;
	padding: 65px 15px;
	margin-bottom: 25px;
	background-size: cover;
	&.single {
		height: 10px;
		background-color: $lightgrey;
		padding: 0;
	}
	.title {
		color: $white;
		text-align: center;
		@include font-size(3);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 15px;
		&:after {
			content: none;
		}
		@media screen and (max-width: 991px){
			@include font-size(1.750);
		}
	}
	.sub-title {
		@include font-size(1);
		font-style: italic;
		font-family: Georgia,Times,Times New Roman,serif;
		color: $lightgrey;
		@media screen and (max-width: 991px){
		    @include font-size(0.750);
		}
	}
}