.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
	.site-branding {
		display: inline-block;
		float: left;
		max-width: 315px;
		img {
			max-height: 70px;
		}
		a {
		    display: table-cell;
			border-right: 2px solid $pewter;
		}
		.tagline {
			width: 55%;
		    display: table-cell;
		    vertical-align: top;
		    padding-top: 4%;
		    padding-left: 5px;
		    line-height: 1.25;
		    @include font-size(0.875);
		}
		@media screen and (max-width: 1200px){
			max-width: 265px;
		}
		@media screen and (max-width: 991px){
		    max-width: 150px;
		    .tagline {
		    	width: 56%;
		    	padding-top: 1%;
		    	@include font-size(0.125);
		    }
		}
		@media screen and (max-width: 767px){
		    max-width: 150px;	
		}
	}
	.main-navigation {
		//other styles for this calss are in navigation/menus
		display: inline-block;
		float: right;
	    margin-top: 15px;
		position: relative;
		@media screen and (max-width: 1200px){
			margin-top: 12px;
		}
		@media screen and (max-width: 991px){
			margin-top: 7px;
		}
		@media screen and (max-width: 767px){
			display: none;
		}
		.menu {
			display: inline-block;
			float: left;
			.menu-item-has-children {
				&:after {
				content: "\f0d7";
			    position: absolute;
			    width: 100%;
			    bottom: 0;
			    font-size: 16px;
				text-align: center;
			    font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				}
			}
			ul {
				top: 2.5rem;
				background-color: $white;
			}
			@media screen and (max-width: 1200px){
				a {
					padding: 12px;
					@include font-size(0.800);
				}
				
			}
			@media screen and (max-width: 991px){
				a {
					padding: 8px;
					@include font-size(0.750);
				}
				ul {
					top: 2rem;
				}
				.menu-item-has-children {
					&:after { 
						bottom: -3px;
					}
				}
				
			}
			@media screen and (max-width: 767px){
				
			}
		}
	}
	.search {
	    display: inline-block;
    	float: right;
	    margin-left: 45px;
		.search-form {
			position: absolute;
			right: 0;
			@media screen and (max-width: 1200px){
				top: -5px;
			}
			@media screen and (max-width: 991px){
				top: -10px;
			}
			@media screen and (max-width: 767px){
			}
			&:after {
				display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    content: "\f002";
			    top: 15px;
			    position: absolute;
			    z-index: 1;
			    left: 10px;
			}
			.search-field {
				border: none;
				cursor: pointer;
				height: 37px;
				margin: 3px 0;
				padding: 0 0 0 34px;
				position: relative;
				-webkit-transition: width 400ms ease, background 400ms ease;
				transition:         width 400ms ease, background 400ms ease;
				width: 0;
				background: transparent;
				z-index:2;
				&:focus {
					background-color: #fff;
					border: 2px solid $blue;
					cursor: text;
					outline: 0;
					width: 230px;
					z-index: 0;
					color: $pewter;
				}
			}
			.search-submit {
			  	display: none;
			}
			input[type="search"] {
		  		-webkit-appearance: textfield;
			}
		}
	}
}
.toggle-panel {
	display: none;
    @include font-size(2);
    float: right;
    color: $black;
    &:hover, &:visited, &:focus {
    	color: $black;
    }
    @media only screen and (max-width : 767px) {
		display: block;
	}
}

.nav-sidebar {
	background-color: $charcoal;
	ul {
		margin: 0;
		padding: 0;
		margin-top: 15px;
		li {
			
			text-align: center;
			a {
				position: relative;
				display: inline-block;
				color: $white;
				text-decoration: none;
				padding: 15px;

				&:hover {
					color: $white;
				}
			}
			&.current-menu-item {
				> a {
					color: $yellow;
				}
			}
		}
		.menu-item-has-children > a{
			&:after {
				color: $white;
				content: "\f0d7";
			    position: absolute;
			    width: 100%;
			    bottom: 0;
			    left: 0;
			    font-size: 16px;
				text-align: center;
			    font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
	.sub-menu {
	    margin-top: 0;
	    li {
	    	@include font-size(0.750);
	    	a {
	    		font-style: italic;
	    	}
	    }
	}
}