.footer {
	padding-top: 65px;
	padding-bottom: 65px;
	background-color: $charcoal;
}
.site-info  {
	background-color: $black;
	color: $white;
	padding-top: 20px;
	padding-bottom: 20px;
	.copyright {
		display: inline-block;
		float: left;
		@include font-size(0.800);
		color: $pewter;
		@media screen and (max-width: 767px) {
			float: none;
			text-align: center;
			margin-bottom: 15px;
		}
	}
	.right {
		display: inline-block;
		float: right;
		@media screen and (max-width: 767px) {
			display: table;
			float: none;
			margin: 0 auto 15px auto;
		}
		.social {
			div {
				display: inline-block;
				float: left;
				margin-right: 10px;
				a {
					color: $white;
					&:hover {
						color: $yellow;
					}	
				}
			}
		}

	}
}