h1, h2, h3, h4, h5, h6 {
	color: $charcoal;
}
h1, h2 {
	&:after {
		content: "";
		display: table;
		width: 50px;
		height: 3px;
		background-color: $yellow;
		margin-top: 15px;
		margin-bottom: 10px;
	}
}

section h1:nth-child(2) {
	margin-top: 0;
}
section h2:nth-child(2) {
	margin-top: 0;
}
