
$gutter: 30px;
$grid-columns: 12 !default;

.container {
	width: 100%;
	@include outer-container(1200px);
	padding-left: 15px;
	padding-right: 15px;
	section {
	    overflow: overlay;
    	margin-bottom: 15px;
	}
}
.row {
   @include row();
}

.col-1 {
@include span-columns(1);
}
.col-2 {
@include span-columns(2);
}
.col-3 {
@include span-columns(3);
}
.col-4 {
@include span-columns(4);
}
.col-5 {
@include span-columns(5);
}
.col-6 {
@include span-columns(6);
}
.col-7 {
@include span-columns(7);
}
.col-8 {
@include span-columns(8);
}
.col-9 {
@include span-columns(9);
}
.col-10 {
@include span-columns(10);
}
.col-11{
@include span-columns(11);
}
.col-12 {
@include span-columns(12);
}
.last {
	@include omega;
}

@media screen and (max-width: 767px) {
	.mobile-full {
		@include span-columns(12);
		@include omega;
	}
	.mobile-hidden {
		display: none;
	}
}