//global widget rules
.container section.widget {
	overflow: hidden;
}
.widget {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0;
		padding: 0;
	}
	a {
		color: $pewter;
		text-decoration: none;
		&:hover {
			color: $yellow;
		}
	}
}

//sidebar widget areas
.sidebar-widgets {
	.widget {
		border-bottom: 1px solid $lightgrey;
    	padding-bottom: 25px;
	}
	.widget_search input[type="search"] {
		width: 100%;
	    padding: 6px;
	    border-radius: 0;
	    border-width: 2px;
	    box-sizing: border-box;
	    &:focus {
	    	outline: none;
	    }
	}
	.search-submit {
		display: none;
	}
	h3 {
		&:after {
			content: "";
			display: table;
			width: 35px;
			height: 1px;
			background-color: $yellow;
			margin-top: 10px;
			margin-bottom: 8px;
		}
	}
	ul {
		.cat-item {
			&:before {
				content: "::";
				vertical-align: 2px; //moves other items up and down, may be bug.
				padding-right: 8px;
			}
		}
	}
	.rpwwt-post-title {
		color: $charcoal;
	    margin: 15px 0;
    	display: block;
	}
	.rpwwt-post-date {
		&:before {
			padding-right: 8px;
		    content: "\f073";
		    display: inline-block;
		    font: normal normal normal 14px/1 FontAwesome;
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}
	}
}

//footer widget areas
.footer {
	.widget {
		.widget-title {
			color: $white;
		}
		ul {
			li {
			    padding: 10px 0 10px;
				color: $pewter;
				background-image: linear-gradient(to right, #5a5a5a 33%, rgba(255,255,255,0) 0%);
				background-position: bottom;
				background-size: 7px 1px;
				background-repeat: repeat-x;
				&:hover {
					color: $yellow;
				}
				&:before {
					content: "\00BB";
				    padding-right: 5px;
				}
				a {
					text-decoration: none;
					color: inherit;
				}
			}
		}
		.mini-portfolio {
			img {
				border-radius: 3px;
				margin-bottom: 8px;
			}
		}
		.gform_wrapper {
			ul {
				li {
					background-image: none;
				}
			}
			input[type="text"] {
			    width: 100%;
			    border-radius: 3px;
			    background-color: lighten($charcoal, 5%);
			    border-color: $pewter;
			    color: $pewter;
			    padding: 8px 3px;
			    outline-color: $white;
			    &:focus {
			    	outline: none;
			    }
			}
			input[type="submit"] {
			    border: none;
			    background-color: $yellow;
			    box-shadow: none;
			    border-radius: 3px;
			    padding: 12px 18px;
			    color: white;
			    text-shadow: none;
			    &:hover {
			    	background-color: lighten($yellow, 10%);
			    }

			}
		}
	}
}