button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
    background-color: $yellow;
    box-shadow: none;
    border-radius: 3px;
    padding: 12px 18px;
    color: white;
    text-shadow: none;

	&:hover {
		    background-color: lighten($yellow, 10%);
	}
}