a {
	color: $yellow;
	text-decoration: none;

	&:visited {
		color: $yellow;
	}
	&:hover,
	&:focus,
	&:active {
		color: $yellow;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}