.blog-feed {
	padding-top: 65px;
	padding-bottom: 50px;
	.section-title {
		color: $charcoal;
		font-weight: 700;
		margin-bottom: 15px;
		@include font-size(1.125);
	}
	.divider {
		width:  75px;
		height: 3px;
		background-color: $yellow;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.blog-item {
		background-color: $white;
		margin-bottom: 15px;
		.inner {
			padding: 25px;
			
		}
		.title {
			text-decoration: none;
			font-weight: 700;
			color: $charcoal;
			&:hover {
				color: $yellow;
			}
		}
		.excerpt {

		}
		.dot-divider {
			height: 3px;
			width: 100%;
			background-image: url(../cti/img/dots.png);
			margin-bottom: 25px;
		}
		.author {

		}
		.readmore {
			text-decoration: none;
			color: $pewter;
			&:hover {
				color: $yellow;
			}
		}
		strong {
			color: $charcoal;
		}
	}
}

.site-main.blog-feed {
    display: table;
    width: 100%;
	padding-top: 65px;
	padding-bottom: 65px;
	.section-title {
		color: $charcoal;
		font-weight: 700;
		margin-bottom: 15px;
		@include font-size(1.125);
	}
	.divider {
		width:  75px;
		height: 3px;
		background-color: $yellow;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.blog-item {
		background-color: $white;
		margin-bottom: 15px;
		.inner {
			padding: 25px 0;
			
		}
		.title {
			text-decoration: none;
			font-weight: 700;
			color: $charcoal;
			&:hover {
				color: $yellow;
			}
		}
		.excerpt {

		}
		.dot-divider {
			height: 3px;
			width: 100%;
			background-image: url(../cti/img/dots.png);
			margin-bottom: 25px;
		}
		.author {

		}
		.readmore {
			text-decoration: none;
			color: $pewter;
			&:hover {
				color: $yellow;
			}
		}
		strong {
			color: $charcoal;
		}
	}
}
.comments-title {
	&:after {
		content: none;
	}
}
.posts-navigation {
	clear: both;
	a {
		color: $yellow;
		text-decoration: none;
		&:hover {
			color: $yellow;
		}
	}
}
