.calloutBanner {
	color: $white;
	padding: 22px 0;
	.message {
		display: inline-block;
		float: left;
		margin-top: 14px;
		@media screen and (max-width: 767px) { 
			display: table;
			clear: both;
			margin: 0 auto;
			float: none;
			margin-bottom: 15px;
			text-align: center;
		}
	}
	.buttons {
		display: inline-block;
		float: right;
		@media screen and (max-width: 767px) { 
			display: table;
			clear: both;
			margin: 0 auto;
			float: none;
		}
		.button {
			color: $white;
			margin-left: 15px;
			&.alpha {
				@include outline-button($white);
				display: inline-block;
				&:hover {
					color: $yellow;	
				}
				
			}
			&.beta {
				@include button($charcoal);
				display: inline-block;
			}
		}
	}	
}