.calloutBoxes {
	padding-top: 65px;
	padding-bottom: 45px;
	.container > div {
		margin-bottom: 25px;
	}
	.image {
		margin-bottom: 15px;
		display: block;
		width: 100%;
		height: auto;
	}
	.title {
		@include font-size(1);
		font-weight: 700;
		color: $charcoal;
	}
	.description {

	}
	.link {
		@include font-size(0.750);
		color: $yellow;
		text-decoration: none;
		&:hover {
			color: darken($yellow, 10%);
		}
	}
}