.content-editor {
    padding-top: 65px;
    padding-bottom: 65px;
	ul {
		list-style: none;
		margin: 0;
		li {
			padding-bottom: 15px;
			&:before {
			    content: "\f00c";
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    margin-right: 8px;
			    color: $yellow;
			}
			
			@media screen and (min-width: 768px){
				&:nth-child(odd) {
			    float: left;
			    min-width: 320px;
			    padding-right: 30px;
				}
				&:nth-child(even) {
				    display: block;
				}
			}
		}
	}
}