.homepage-banner {
	color: $white;
	position: relative;
	.arrows {
		width: 100%;
		@include font-size(1.625);
		@media screen and (max-width: 767px){ 
			display: none;
		}
		.owl-prev {
			cursor: pointer;
			position: absolute;
			top: 35%;
			z-index: 99;
			left:0;
			padding: 35px 10px;
			background-color: rgba(0,0,0,.5);
		}
		.owl-next {
			cursor: pointer;
			position: absolute;
			top: 35%;
			z-index: 99;
			right: 0;
			padding: 35px 10px;
			background-color: rgba(0,0,0,.5);
		}
	}
	.slide {
		padding-left: 20px;
		padding-right: 35px; // fixes scrollbar offset
		background-size: cover;
		min-height: 615px;
		@media screen and (max-width: 767px){ 
			min-height: 315px;
		}

		&.left {
			.content {
				text-align: center;
				@media screen and (min-width: 768px){
					text-align: left;
					width: 55%;
					float: left;
				}
			}
			.button-outline-white {
				@media screen and (max-width: 767px){
					margin-left: auto;
					margin-right: auto;
				}
			}
			
		}
		&.right {
			.content {
				text-align: center;
				@media screen and (min-width: 768px){
					text-align: right;
					width: 55%;
					float: right;
				}
			}
			.divider {
				@media screen and (min-width: 768px){
					margin-left: auto;
				}
			}
			.button-outline-white {
				@media screen and (min-width: 768px){
					margin-left: auto;
				}
				@media screen and (max-width: 767px){
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		&.center {
			.content {
				text-align: center;
			}
			.divider {
				margin-left: auto;
				margin-right: auto;
			}
			.button-outline-white {
				margin-left: auto;
				margin-right: auto;
			}
		}
		.title {
			@include font-size(3.00);
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			margin-top: 165px;
			@media screen and (max-width: 1200px){
				@include font-size(2.75);
				margin-top: 135px;
			}
			@media screen and (max-width: 991px){
				@include font-size(2.25);
				margin-top: 95px;
			}
			@media screen and (max-width: 767px){
				@include font-size(1.75);
				margin-top: 55px;
			}
		}
		.divider {
			width: 105px;
			height: 3px;
			background-color: $yellow;
			margin-top: 40px;
			margin-bottom: 40px;
			@media screen and (max-width: 1200px){ 
				margin-top: 30px;
				margin-bottom: 30px;
			}
			@media screen and (max-width: 991px){ 
				margin-top: 20px;
				margin-bottom: 20px;
			}
			@media screen and (max-width: 767px){ 
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		.introduction {
			line-height: 2;
			margin-bottom: 40px;
			@media screen and (max-width: 1200px){
				margin-bottom: 30px;
			}
			@media screen and (max-width: 991px){
				margin-bottom: 20px;
			}
			@media screen and (max-width: 767px){
				margin-bottom: 10px;
			}
		}
		.button-outline-white {
			@include outline-button($yellow);
			color: $white;
			border-color: $white;
			margin-bottom: 15px;
		}
	}
}