.portfolio-container {
	padding-top: 65px;
	padding-bottom: 65px;
	.carousel-container.container {
		position: relative;
	}
	.section-title {
		color: $white;
		font-weight: 700;
		margin-bottom: 15px;
		@include font-size(1.125);
	}
	.divider {
		width:  75px;
		height: 3px;
		background-color: $yellow;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.arrows {
		@include font-size(1.5);
		@media screen and (max-width: 1350px){
			//doesnt fit on smaller screens
			display: none;
		}
		.owl-prev {
			cursor: pointer;
			position: absolute;
			left: -50px;
			top: 45%;
			width: 30px;
			height: 30px;
			color: $blue;
			background-color: $white;
			border-radius: 100%;
		    text-align: center;
    		padding: 3px;
		}
		.owl-next {
			cursor: pointer;
			position: absolute;
			right: -50px;
			top: 45%;
			width: 50px;
			height: 50px;
			color: $blue;
			background-color: $white;
			border-radius: 100%;
		    text-align: center;
    		padding: 13px;
		}
	}
	.portfolio {
		.portfolio-item {
			background-position: center center;
		    width: 100%;
		    .overlay {
		    	display: table;
		    	width: 100%;
		    	height: 100%;
		    	transition: opacity 0.25s ease;
		    	transition: background-color 0.25s ease;
		    	opacity: 0;
		    	text-decoration: none;
		    	&:hover {
		    		opacity: 1;
		    		background-color: rgba(255,255,255, 0.5);
		    	}
		    	.inner {
		    		display: table-cell;
		    		text-align: center;
		    		vertical-align: middle;
		    		color: $charcoal;
		    		position: relative;
		    		&:after {
		    			content: "+";
		    			position: absolute;
		    			top: 0;
		    			right: 0;
		    			padding: 10px 12px;
		    			color: $charcoal;
		    			background-color: $yellow;
		    		}
					.title {
						font-weight: 700;
						margin-bottom: 5px;
					}
					.category {
					
					}
		    	}
		    }
		}
	}
}