.service-callout {
	padding-top: 65px;
	padding-bottom: 50px;
	.section-title {
		color: $charcoal;
		font-weight: 700;
		margin-bottom: 15px;
		@include font-size(1.125);
	}
	.divider {
		width:  75px;
		height: 3px;
		background-color: $yellow;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.service {
		position: relative;
		min-height: 200px;
		display: table;
		text-align: center;
		margin-bottom: 15px;
		.inner {
			display: table-cell;
    		vertical-align: middle;
    		background-color: $lightgrey;
    		color: $charcoal;
    		.title {
    			font-weight: 700;
    		}
		}
		.overlay {
			background-color: $yellow;
			color: $white;
			opacity: 0;
			position: absolute;
			left: 0;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    text-decoration: none;
		 	.overlay-inner {
				padding: 25px 10px 0 10px;
		 	}
		 	.title {
				font-weight: 700;
		 	}
		 	.description {
				@include font-size(0.750);
		 	}
		}
		&:hover {
			.overlay {
				opacity: 1;
			}
			.inner {
				opacity: 0;
			}
		}
	}
}