.testimonial-container {
	padding-top: 65px;
	padding-bottom: 65px;
	.section-title {
		text-align: center;
		color: $white;
		@include font-size(1.125);
		font-weight: 700;
		margin-bottom: 40px;
	}
	.quote-icon {
		color: $yellow;
		text-align: center;
	}
	.inner {
		color: $white;
		text-align: center;
		padding: 15px 0;
		@media screen and (min-width: 768px){ 
			padding: 15px 15%;
		}
		.quote {
			font-style: italic;
		}
		.name {
			font-weight: 700;
			padding-bottom: 5px;
		}
		.company {
			color: $pewter;
			@include font-size(0.750);
		}
	}

	$dot-width:				10px;
	$dot-height:			10px;
	$dot-rounded:			30px;
	$dot-margin: 			5px 7px;
	$dot-background:		$lightgrey;
	$dot-background-active:	$pewter;
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}
	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
}