.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
	.posted-on {
		display: table;
		width: 100%;
		text-align: center;
		border: 2px solid $pewter;
		border-radius: 5px;
	    padding: 30px 0;
	    margin-top: 22px;
		a {
			color: $pewter;
			&:hover{ color: $pewter; }
		}
		.day {
			display: inline-block;
			width: 100%;
			@include font-size(1.250);
			font-weight: 700;
		}
		.month {
			display: inline-block;
			width: 100%;
			text-transform: uppercase;
		}
	}
	.entry-title {
		&:after {
			content: none;
		}
	}
	.entry-header {
		a {
			text-decoration: none;
			color: $yellow;
		}
	}
}

